form.ui.form.loginComponentForm{
    margin-left: 400px;
    margin-right: 400px;
}

@media only screen and (max-width: 1024px)
{
    form.ui.form.loginComponentForm{
     margin-left: 10px;
     width: 250px;
     margin:  0 auto !important
    }
}