.mainSearchList{
    color: #fff;
    padding: 5px;
}
.devicesList{
    list-style: none;
    padding: 0px;
}
.devicesList li{
    padding: 5px 0;
}
/*.devicesList li:first-child {
    padding-top: 35px;
}
.devicesList li:nth-child(2n){
   background-color: #03274b;
 
}
*/
/* .vehicleSearch{
    margin-top: 10px;
} */
.vehicleSearchDiv{
    height: 600px;
    overflow-y: scroll;
    overflow-x: hidden;
}
table.ui.table.deviceSearchTable{
    width: 98%;
}
.ui.grid>.row>.three.wide.column.searchList{
    padding-right:0rem;
}
.ui.grid>.row>.thirteen.wide.column.mapView{
    padding-left:0rem;
}

.mainSearchList input[type=text]{
    float:left;
}
.mainSearchList [type=checkbox]{
    float:right;
    margin-top: 5px;
}
.mainSearchList .ui.table thead th{
    background-color: #fff;    
}
.mapInfoBox h4, .mapInfoBox h5{
padding:0px !important;
margin: 0px !important;
}
.mapInfoSpan{
    font-weight: 200;
}

.twelve.wide.computer.sixteen.wide.mobile.twelve.wide.tablet.column.mapView{
    margin-left: -17px;
}

@media only screen and (max-width: 400px) {
    .vehicleSearchDiv{
        width: 300px;

    }
}
@media only screen and (max-width: 767px) {
.twelve.wide.computer.sixteen.wide.mobile.twelve.wide.tablet.column.mapView{
    margin-left: 0px;
    margin-top: 15px;
}
.mainSearchList [type=checkbox]{
    margin-top: -30px;
}
}