.serviceCounterStatistic{
    text-align: right;
    padding: 0px 15px 15px 0;
}

.rbc-calendar.serviceEventCalendar{
    height: 400px;
}

.react-datepicker__header{
    background-color: #fff !important;
}
.react-datepicker__month{
    background-color: #f0f0f0;
    padding: 1.0rem;
    margin: 0px !important;
}
.react-datepicker__week{
    padding: 4px !important;
}
.react-datepicker__day-name, .react-datepicker__day {
    font-size: 12px;
}
.react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name{
    width: 2.5rem !important;
    line-height: 2.5rem !important;
}

.datepickerClass, .ui.form.serviceSelectFilterForm{
    display: -webkit-inline-box;
    display:  -moz-inline-box;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display:  inline-flex;
}
.dailyDatepickerEndDate{
    margin: 0 15px;
}

.datepickerClass  input[type=text]{
    line-height: 34px;
    border-radius: .28571429rem;
    border: 1px solid #ccc;
    text-align: center;
}
input.selectServicDatepickerEndDate{
    /* margin-left: 10px !important;
    margin-right: 10px !important; */
}

input.selectServicDatepickerStartDate, input.selectServicDatepickerEndDate{
   background-color: #f6f6f9 !important;
   margin-left: 10px !important;
    /* margin-right: 10px !important; */
}
/* .selectingServiceCriteria{
    margin-top:20px; 
} */
.ui.search.selection.dropdown.brandSelection{
    margin-left: 20px;
}
.ui.search.selection.dropdown.modelSelection{
    margin: 0 10px;
}
button.ui.basic.button.fetchServiceButton{
    margin-left: 10px;
    background-color: #1cc7c7 !important;
    color: white !important;
}
button.ui.basic.button.showHideNotificationButton{
    /* background: #544d4d!important; */
    color: #e63c5a!important;
}

button.ui.basic.button.resetFiltersButton{
background: #00b5ad none!important;
color: #fff !important;
}
button.ui.basic.button.resetFiltersButton.reset{
    background: #ec4922 none!important;
    color: #fff !important;
}
/* .predefinedMessage{
    width: 400px;
    margin: 0 0 20px auto;
    text-align: justify;
    cursor: pointer;
    background: #ccc;
    border: 1px solid #ccc;
    -webkit-box-shadow: 1px 1px 15px grey;
    box-shadow: 1px 1px 15px grey;
} */

.predefinedMessage {
    width: 24%;
    margin: 0 0 20px 13px;
    float: left;
    text-align: justify;
    cursor: pointer;
    background: #ccc;
    border: 1px solid #ccc;
    /* -webkit-box-shadow: 1px 1px 15px grey;
    box-shadow: 1px 1px 15px grey; */
}
.predefinedMessage:last-of-type {
   height: inherit;
}
.predefinedMessage h4{
    text-align: center;
    margin-bottom: 5px;
    margin-top: 10px !important;
}
.predefinedMessage p{
    padding: 5px;
    margin: 0;
}
.notificationPanelClass .notificationPanelHeader{
   text-align: center;
   margin: 20px 0;
}
.ui.form.notificationMessageForm{
    float: none;
    clear: both;
}
button.ui.primary.button.activeDevices, button.ui.primary.button.activeServices{
    background-color: orange;
}
button.ui.basic.button.sendServiceNotification {
    color: #fff!important;
    background: #c34980 !important;
}

@media only screen and (min-width: 1600px){    
.predefinedMessage{
    height: 150px;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1600px){

    .predefinedMessage{
        height: 183px;
        }

}