.ui.secondary.fleetmenu.menu .active.item{
    background: #fff;
    color: #000;
}
.ui.secondary.fleetmenu.menu .item{
    margin-left: 10px;
    margin-top: 10px;
    color: #fff;
}

.ui.secondary.fleetmenu.menu {
    background-color: #e28c34;
    padding-bottom: 10px;
    margin-bottom: -15px;
}
/* .item.dropdownoption {
    margin-top: 10px;
} */
.item.dropdownoption a {
    color: #000;
    cursor: pointer;
    background-color:  #fff !important;
}

.ui.button.floating.labeled.dropdown.icon.menu_Small_Screen{
    margin-top: 20px;
    margin-left: 20px;
}
